@font-face {
  font-family: "Norse";
  src:
    url(/assets/fonts/Norse-Bold.woff) format("woff"),
    url(./assets/fonts/Norse-Bold.woff2) format("woff2");
  font-weight: bold;
  font-style: normal;
}

:root {
  --system-ui:
    system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

body {
  font-family: var(--system-ui);
  margin: 0;
  padding: 0;
  height: 100%;
  line-height: 1.5;
}

.container {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.image {
  background-image: url("./assets/images/background.jpg");
  background-position: center;
  background-size: cover;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 3.5em 0 0 0;
}

.odinLogo {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
}

.odinText {
  font-family: "Norse", sans-serif;
  font-size: 6em;
  font-weight: bold;
  color: white;
  margin: 0;
}

.imageOdin {
  width: 75px;
  height: 100px;
}

.photoBy {
  position: relative;
  color: white;
  bottom: 0;
  text-align: center;
}

.photoBy a {
  color: white;
  text-decoration: underline;
}

.signup {
  width: 65%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.signupHeader {
  display: flex;
  align-items: flex-end;
  height: 30%;
  background-color: rgba(168, 170, 172, 0.5);
}

.signupForm {
  flex: 1;
  background-color: white;
  box-shadow: 0px 5px 15px rgb(59, 59, 59);
}

.signupFooter {
  height: 30%;
  background-color: rgba(168, 170, 172, 0.5);
}

.signupHeader,
.signupForm,
.signupFooter {
  padding-left: 40px;
}

.signupHeaderText {
  margin: 0;
  padding-bottom: 20px;
  font-size: medium;
  font-weight: bold;
}

.fieldset {
  border-width: 0px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
  justify-content: flex-start;
  padding: 0;
  margin: 0;
  gap: 50px;
}

.divInput {
  display: flex;
  flex-direction: column;
  margin: 0px 0px 15px 0px;
  padding: 0;
}

.divInput > label {
  font-weight: bold;
  font-size: small;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"] {
  width: 200px;
  border: 1px solid #d6d6da;
  border-radius: 4px;
  padding: 4px;
}

input:hover {
  border: 1px solid #7c98e8;
}

input:focus {
  outline: 1px solid #7c98e8;
}

input:focus-visible {
  outline: 1px solid #7c98e8;
  box-shadow: 4px 4px 4px #d3d4d5;
}
